#root {
  background-color: lightslategrey;
  z-index: -50;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  max-width: 1430px;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.App div:first-child {
  margin-right: 5px;
}

form {
  background-color: rgb(30, 30, 30);
  box-sizing: border-box;
  padding: 10px 10px;
  border-radius: 3px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  font-size: 1.5em;
}

form > div {
  display: flex;
  justify-content: space-between;
}

label {
  color: #fffeee;
}

hr {
  width: 100%;
  margin: 0;
}

input {
  font-size: 1.5rem;
}

h1 {
  margin: 0 0 5px 0;
}

#square {
  height: 600px;
  width: 600px;
  background-color: rgb(10, 10, 10);
  z-index: 20;
  position: relative;
}

#circle {
  background-color: rgb(36, 36, 36);
  height: 600px;
  width: 600px;
  z-index: 30;
  border-radius: 50%;
}

.punto {
  width: 1px;
  height: 1px;
  background-color: red;
  position: absolute;
  margin: 0;
  z-index: 35;
}

p {
  margin: 0 0 5px 0;
  display: flex;
  justify-content: space-between;
  /* font-size: 1.5em; */
  color: #fffeee;
}